<h1 class="current-category"><%= params[:category] %></h1>

<% if @books.count == 0 %>
 		<h2> This category does not have any book added yet. Be the first to add a new one! </h2>
 <% else %>
	<% @books.each do |book| %>
		<a href="/books/<%= book.id %>">
			<%= image_tag book.book_cover.url(:book_index) %>
		</a>
	<% end %>
 <% end %>
