<h1>Edit Review</h1>

<%= simple_form_for([@book, @review]) do |form|
	<div id="rating-form">
		<%= form.input :rating %>
	</div>	
	<%= form.input :comment %>
	<%= form.button :submit %>
<% end %>

<script type="text/javascript">
	$("#rating-form").raty({
		path: '/assets/',
		scoreName: 'review[rating]'
	});
</script>