<div class="col-md-6 col-md-offset-3">
	<div class="new-book-form">

<h1>Edit Review</h1>

<%= simple_form_for([@book, @review]) do |form|
	<%= form.input :rating %>
	<%= form.input :comment %>
	<%= form.button :submit %>
<% end %>